.version.index /* version checker */
{
	color: #0000FF;
	background-color: #CE6412;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 882px;
	min-height: 455px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 28px 58px 17px 20px;
}

#menuu75
{
	z-index: 2;
	width: 446px;
	margin-left: 436px;
}

#u76
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u77
{
	width: 87px;
	padding-bottom: 17px;
}

#u77:hover
{
	margin: 0px;
}

#u77:active
{
	margin: 0px;
}

#u79-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u77:hover #u79-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u77:active #u79-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u97
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u98
{
	width: 87px;
	padding-bottom: 17px;
}

#u77.MuseMenuActive,#u98:hover
{
	margin: 0px;
}

#u98:active
{
	margin: 0px;
}

#u99-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u77.MuseMenuActive #u79-4,#u98:hover #u99-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u98:active #u99-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u110
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u111
{
	width: 88px;
	padding-bottom: 17px;
}

#u98.MuseMenuActive,#u111:hover
{
	margin: 0px;
}

#u111:active
{
	margin: 0px;
}

#u114-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u98.MuseMenuActive #u99-4,#u111:hover #u114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u111:active #u114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u123
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u126
{
	width: 88px;
	padding-bottom: 17px;
}

#u111.MuseMenuActive,#u126:hover
{
	margin: 0px;
}

#u126:active
{
	margin: 0px;
}

#u129-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u111.MuseMenuActive #u114-4,#u126:hover #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u126:active #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u136
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u137
{
	width: 88px;
	padding-bottom: 17px;
}

#u126.MuseMenuActive,#u137:hover
{
	margin: 0px;
}

#u137:active
{
	margin: 0px;
}

#u137.MuseMenuActive
{
	margin: 0px;
}

#u139-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u126.MuseMenuActive #u129-4,#u137:hover #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u137:active #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u137.MuseMenuActive #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu150
{
	width: 0.01px;
}

#u150
{
	z-index: 33;
	width: 681px;
	margin-right: -10000px;
}

#u150 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u150_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u143-4
{
	z-index: 35;
	width: 389px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 441px;
}

#u167
{
	z-index: 39;
	width: 184px;
	height: 284px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 697px;
}

#u175
{
	z-index: 40;
	width: 291px;
	min-height: 39px;
	margin-left: 586px;
	margin-top: 45px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

